<div class="container">
  <div class="mat-elevation-z8">

    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedDataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position</th>
        <td mat-cell *matCellDef="let user">
          <div class="position-cell-container">
            <mat-icon [ngClass]="{'star-icon-gold': user.position === 1, 'star-icon-silver': user.position === 2,
                      'star-icon-bronze': user.position === 3, 'no-star': user.position > 3}">
              star
            </mat-icon>
            <div class="position-number">{{ user.position }}</div>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Username</th>
        <td mat-cell *matCellDef="let user"> {{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="betsWon">
        <th mat-header-cell matTooltip="Bets won" mat-sort-header="betsWon" *matHeaderCellDef> Bets Won</th>
        <td mat-cell *matCellDef="let user"> {{ user.betsWon }}</td>
      </ng-container>

      <ng-container matColumnDef="betsLost">
        <th mat-header-cell matTooltip="Bets lost" mat-sort-header="betsLost" *matHeaderCellDef> Bets Lost</th>
        <td mat-cell *matCellDef="let user"> {{ user.betsLost }}</td>
      </ng-container>

      <ng-container matColumnDef="earnings">
        <th mat-header-cell matTooltip="Earnings" mat-sort-header="earnings" *matHeaderCellDef> Earnings</th>
        <td mat-cell *matCellDef="let user" [ngStyle]="{'color': user.earnings < 0 ? '#ff0000' : '#00cc00'}">
          {{ user.earnings | currency:'USD' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[15, 10]"
                   [showFirstLastButtons]="true"
                   aria-label="Select page of the leaderboard">
    </mat-paginator>
  </div>
</div>
