<div class="container">
<div class="tables" *ngFor="let tableData of dataSources; let index = index">
    <span class="group" *ngIf="tableData.group">{{tableData.group}}</span>
    <table matSort (matSortChange)="sortData($event, tableData, index)" mat-table [dataSource]="tableData.standings">
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef>Club</th>
        <td mat-cell class="club" *matCellDef="let standing" >
          {{ standing.position }}
         <img src="{{ standing.team.crest }}" alt="team crest">
          <a class="team-link" matTooltip="Upcoming matches" [routerLink]="['/home']"
             [queryParams]="{ search: encodeURI(standing.team.name) }">
            {{ standing.team.name }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="won">
        <th matTooltip="Won" mat-sort-header="won" mat-header-cell *matHeaderCellDef style="color: green">W</th>
        <td mat-cell *matCellDef="let standing"> {{ standing.won }}</td>
      </ng-container>

      <ng-container matColumnDef="draw">
        <th matTooltip="Draw"  mat-sort-header="draw" mat-header-cell *matHeaderCellDef style="color: grey">D</th>
        <td mat-cell *matCellDef="let standing"> {{ standing.draw }}</td>
      </ng-container>

      <ng-container matColumnDef="lost">
        <th matTooltip="Lost" mat-sort-header="lost" mat-header-cell *matHeaderCellDef style="color: red">L</th>
        <td mat-cell *matCellDef="let standing"> {{ standing.lost }}</td>
      </ng-container>

      <ng-container matColumnDef="goalsFor">
        <th matTooltip="Goals for" mat-sort-header="goalsFor" mat-header-cell *matHeaderCellDef style="color: green">GF</th>
        <td mat-cell *matCellDef="let standing"> {{ standing.goalsFor }}</td>
      </ng-container>

      <ng-container matColumnDef="goalsAgainst">
        <th matTooltip="Goals against" mat-sort-header="goalsAgainst" mat-header-cell *matHeaderCellDef style="color: red">GA</th>
        <td mat-cell *matCellDef="let standing"> {{ standing.goalsAgainst }}</td>
      </ng-container>

      <ng-container matColumnDef="goalDifference">
        <th matTooltip="Goal difference" mat-sort-header="goalDifference" mat-header-cell *matHeaderCellDef >GD</th>
        <td mat-cell *matCellDef="let standing"> {{ standing.goalDifference }}</td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th matTooltip="Points" mat-header-cell mat-sort-header="points" *matHeaderCellDef class="points">Pts</th>
        <td mat-cell *matCellDef="let standing" class="points"> {{ standing.points }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
