<div class="footer">
  <h3><span style="color: yellow">Disclaimer:</span> BetKick - For Learning Purposes Only</h3>
  <p>
    <strong>1. No Real Money Involved:</strong>
    BetKick is not a real-money betting platform. It is a project designed solely for learning purposes. No actual currency, assets, or valuables can be wagered, won, or lost on this platform.
    <br>
    <strong>2. Educational and Simulation Purposes:</strong>
    This betting site serves as an educational and simulation tool to explore the mechanics of betting and odds calculation. Any scores, rankings, or outcomes are purely fictional and do not reflect real-world events.
    <br>
    <strong>3. Responsible Use:</strong>
    Users are encouraged to use BetKick responsibly. While it may mimic the appearance of real betting sites, it does not involve any financial transactions.
    <br>
    <strong>4. No Legal or Financial Obligations:</strong>
    Participation in activities on BetKIck does not create any legal or financial obligations for users. The site owner is not responsible for any consequences arising from the use of the platform.
    <br>
    <strong>5. No Guarantees:</strong>
    There are no guarantees of winning or losing on BetKick. The outcomes are randomly generated and should not be considered indicative of future results in real-world scenarios.
    <br>
    <strong>6. Changes to Terms:</strong>
    The site owner reserves the right to modify these terms and conditions at any time. Users are advised to review this disclaimer regularly for updates.
  </p>
</div>
