<div class="footer">
  <h3><span style="color: #d3d008">About BetKick</span></h3>
  <p>
    <strong>1. No Real Money Involved:</strong>
    BetKick is not a real-money betting platform. It is a project designed solely for learning purposes. No actual
    currency, assets, or valuables can be wagered, won, or lost on this platform.
    <br>
    <strong>2. Educational and Simulation Purposes:</strong>
    This betting site serves as an educational and simulation tool to explore the mechanics of betting and odds
    calculation. Any scores, rankings, or outcomes are purely fictional and do not reflect real-world events.
    <br>
    <strong>3. Responsible Use:</strong>
    Users are encouraged to use BetKick responsibly. While it may mimic the appearance of real betting sites, it does
    not involve any financial transactions.
    <br>
    <strong>4. No Legal or Financial Obligations:</strong>
    Participation in activities on BetKIck does not create any legal or financial obligations for users. The site owner
    is not responsible for any consequences arising from the use of the platform.
    <br>
    <strong>5. No Guarantees:</strong>
    BetKick acknowledges the inherent unpredictability of football matches, and therefore, cannot guarantee outcomes of
    winning or losing. It is important to understand that results in these matches are inherently uncertain and should
    not be perceived as indicative of future real-world scenarios.
    <br>
    <strong>6. Changes to Terms:</strong>
    The site owner reserves the right to modify these terms and conditions at any time. Users are advised to review this
    disclaimer regularly for updates.
    <br>
    <strong>7. Match Schedule:</strong>
    All match dates are specified in Coordinated Universal Time (UTC).
    <br>
    <strong>8. Data Source:</strong>
    While the information displayed on BetKick is retrieved and processed through the
    <a target="_blank" href="https://github.com/LeandroFernandezRuhl/betkick-api">BetKick API</a>,
    the football data itself is sourced from <a href="https://www.football-data.org/"
                                                target="_blank">football-data.org</a>.
    <br>
    <strong>9. Contact Information:</strong>
    If you have any questions or need assistance, feel free to reach out
    <a href="mailto:leanruhl.dev@gmail.com">leanruhl.dev@gmail.com</a>.
  </p>

</div>
