mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #0A0A0A;
  max-height: 58px;
}

.small-toolbar {
  max-height: 45px;
}

@media (min-width: 1200px) {
  mat-toolbar {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media (min-width: 1550px) {
  mat-toolbar {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media (min-width: 1700px) {
  mat-toolbar {
    padding-left: 16vw;
    padding-right: 16vw;
  }
}


@media (max-width: 700px) {

}

a {
  text-decoration: none;
}

.money {
  color: white;
  left: 95rem;
  top: 0.85rem;
  max-width: 100px;
  overflow: auto;
}

.money::-webkit-scrollbar {
  width: 0.5px;
}

.money::-webkit-scrollbar-thumb {
  background: #08ce06;
}

.title {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #08ce06;
}

.header, .menu-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  gap: 0.3rem;
}

.menu-options {
  gap: 1rem;
}

.navigation-options {
  /* border: 0.1rem solid #08ce06;
  border-radius: 20px; */
}

mat-icon {
  color: #08ce06;
}

#logo {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

#player {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

#ball {
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
  font-size: 0.9rem;
}


#login, #leaderboard, #standings, #account-menu, #home, #login-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background-color: #0A0A0A;
  border-radius: 1.1rem;
  padding: 1rem;
  color: #08ce06;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#lock, #leaderboard-icon, #standings-icon, #account-icon, #home-icon, #lock-small {
  font-size: 1rem;
  color: #08ce06;
  transition: background-color 0.3s ease, color 0.3s ease;
  transform: scale(1.1);
}

#login:hover, #leaderboard:hover, #standings:hover, #account-menu:hover, #home:hover, #login-small:hover {
  background-color: #191919;
  /*border-color: #09ef06; */
}

#login, #account-menu {
  border: 0.1rem solid #08ce06;
}

#account-menu-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background-color: #0A0A0A;
  border-radius: 1.1rem;
  padding: 1rem;
  color: #08ce06;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#account-icon-small {
  font-size: 1rem;
  color: #08ce06;
  transform: scale(1.6);
}

#login-small {
  font-size: 0.9rem;
}

#lock-small {
  font-size: 1rem;
  color: #08ce06;
  transform: scale(1.4);
}

#login:hover mat-icon, #leaderboard:hover mat-icon, #standings:hover mat-icon, #account-menu:hover mat-icon {
}
