<div class="competitions">
  <div class="competition" *ngFor="let competition of competitions">
      <img src="{{competition.emblem}}" class="comp-emblem" alt="">
    <p class="comp-name">{{competition.name}}</p>
  </div>
</div>

<!--

<div class="competitions">
  <div class="competition" *ngFor="let competition of competitions">
    <div class="comp-emblem-container">
      <img src="{{competition.emblem}}" class="comp-emblem" alt="">
    </div>
    <p class="comp-name">{{competition.name}}</p>
  </div>
</div>


<h2 class="product-category">best selling</h2>
<button class="pre-btn">
  <mat-icon>arrow_back</mat-icon>
</button>
<button class="nxt-btn">
  <mat-icon>arrow_forward</mat-icon>
</button>

  <a mat-list-item href="link.url" *ngFor="let link of links" [activated]="link.isActive">

</mat-nav-list>
<button mat-icon-button class="button-next" (click)="handleNext()">
  <mat-icon>arrow_forward</mat-icon>
</button> -->
