
<!--form method="post">
    <label for="withdrawal_amount">Amount to Withdraw:</label>
    <input type="number" id="withdrawal_amount"  [(ngModel)]="withdrawMoney" name="withdrawal_amount" required>

    <label for="cbu">CBU Number:</label>
    <input type="text" id="cbu" name="cbu" required>

    <label for="bank_name">Bank Name:</label>
    <input type="text" id="bank_name" name="bank_name" required>

    <label for="account_holder">Account Holder's Name:</label>
    <input type="text" id="account_holder" name="account_holder" required>
    <button type="submit"  (submit)="withdrawMoneyEvent()" value="Withdraw Funds">Withdraw</button>
</form-->
<form [formGroup]="withdrawForm" (ngSubmit)="withdrawMoneyEvent()">
    <label for="withdraw_amount">Amount to Withdraw:</label>
    <input type="number" id="withdraw_amount" formControlName="withdrawAmount" [(ngModel)]="withdrawMoney"required>
  
    <label for="cbu">CBU Number:</label>
    <input type="text" id="cbu" formControlName="cbu"required>
  
    <label for="bank_name">Bank Name:</label>
    <input type="text" id="bank_name" formControlName="bankName"required>
  
    <label for="account_holder">Account Holder's Name:</label>
    <input type="text" id="account_holder" formControlName="accountHolder"required>
  
    <button type="submit" (submit)="withdrawMoneyEvent()">Withdraw</button>
  </form>