<div class="form-container">
  <div class="form-header">
    <mat-icon>account_balance</mat-icon>
    Withdraw Form
  </div>
  <form class="mat-elevation-z8" [formGroup]="withdrawForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <input matInput placeholder="Account Holder Name" formControlName="accountHolderName">
      <mat-error *ngIf="withdrawForm.get('accountHolderName')?.hasError('required')">Card Holder Name is required
      </mat-error>
      <mat-error *ngIf="withdrawForm.get('accountHolderName')?.hasError('pattern')">Invalid characters in Card Holder Name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Birth Date" formControlName="birthDate">
      <mat-error *ngIf="withdrawForm.get('birthDate')?.hasError('required')">Birth Date is required</mat-error>
      <mat-error *ngIf="withdrawForm.get('birthDate')?.hasError('pattern')">Invalid Birth Date format (use YYYY-MM-DD)</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Account Number" formControlName="accountNumber">
      <mat-error *ngIf="withdrawForm.get('accountNumber')?.hasError('required')">Account Number is required</mat-error>
      <mat-error *ngIf="withdrawForm.get('accountNumber')?.hasError('pattern')">Invalid Account Number (should be numeric)</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bank Name</mat-label>
      <mat-select formControlName="bankName">
        <mat-option *ngFor="let bank of internationalBanks" [value]="bank">{{ bank }}</mat-option>
      </mat-select>
      <mat-error *ngIf="withdrawForm.get('bankName')?.hasError('required')">Bank Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Transaction Amount" formControlName="transactionAmount">
      <mat-error *ngIf="withdrawForm.get('transactionAmount')?.hasError('required')">Transaction Amount is required
      </mat-error>
      <mat-error *ngIf="withdrawForm.get('transactionAmount')?.hasError('pattern')">Invalid Transaction Amount
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="withdrawForm.invalid">
      Make transaction
    </button>
  </form>
</div>
