
<mat-card class="cardMatch"*ngIf="!cardDelete">
  <mat-card-header class="infoMatch">
    <mat-card-title>Man. United</mat-card-title>
    <mat-card-title>Man. City</mat-card-title>
    <mat-card-subtitle>Final de partido</mat-card-subtitle>
    <mat-card-subtitle style="font-weight: bold;">Man. City</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="priceBet">
    <button mat-mini-fab class="deleteBtn" (click)="deleteCard()">
      <mat-icon>close</mat-icon>
    </button>
    <input class="amountInput" placeholder="0" [(ngModel)]="numero">
    <mat-card-subtitle class="potProfits">Ganancia potencial ${{ calcular()}}</mat-card-subtitle>

  </mat-card-actions>
</mat-card>