.container {
  width: 80%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Optional: Adjust as needed */
  align-items: center; /* Optional: Adjust as needed */
  overflow: scroll;
  background-color: white;
  margin: 0 auto;
}

table {
  margin-bottom: 0.9rem;
}

.group {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  color: #2c2a2a;
  background-color: white;
  padding: 1rem 1rem 0 0.8rem;
}

.club {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  padding-right: 0;
  gap: 0.45rem;
}

.club img {
  max-width: 29px;
  max-height: 29px;
}

td, th {

}

.points {
  font-weight: bold;
}

@media only screen and (max-width: 620px) {
  .container {
    width: 95%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media only screen and (max-width: 530px) {
  td:not(.club), th {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .group {
    padding-left: 0;
    padding-top: 0.3rem;
    padding-bottom: 0;
  }

  .club {
    padding-bottom: 0.9rem;
  }
}
