.container {
  max-width: 1000px;
  min-height: 540px;
  margin: 0 auto 4rem;
}

p {
  margin-bottom: 0;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 0 auto;
  font-family: Roboto, serif;
  text-align: center;
  color: #07d904;
  padding: 1.4rem;
  height: 2rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: #0A0A0A;
}

.label mat-icon {
  transform: scale(1.1);
}

.text-and-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.6rem;
}

.label-and-matches {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  background-color: #eaeaef;
}

mat-paginator {
  border: 1px solid #d7d7d7;
  margin-bottom: 1rem;
  background-color: #eaeaef;
}

.listMatchesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0.5rem 0;
}

.noMatchesFound {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Roboto, serif;
  padding-top: 8rem;
  padding-bottom: 8rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000
}

.match-container {
  margin: 1rem auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 15rem;
  max-height: 15rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 1rem;
}

.match-container .match-details {
  box-sizing: border-box;
}

.search {
  border-radius: 6px;
  padding: 0 1rem;
  font-size: 16px;
  font-family: Roboto, serif;
  border: 1px solid #dcdcdc;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.filter {
  justify-self: center;
}

.search-and-filter {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #eaeaef;
  padding: 1rem;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}

@media only screen and (max-width: 760px) {
  .search-and-filter {
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 600px) {
  .search-and-filter {
    grid-template-columns: 54% 46%;
  }

  .label mat-icon {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 500px) {
  .listMatchesContainer {
    gap: 1rem;
  }

  .label {
    padding: 1.5rem;
  }

  .label mat-icon {
    margin-bottom: 0.2rem;
  }

  .search-and-filter {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    gap: 0.2rem;
  }

  .search {
    margin: 0 auto;
    width: 90%;
    height: 75%;
    font-size: 1rem;
    order: 2;
  }

  .filter {
    transform: scale(0.85);
  }
}

@media (max-width: 785px) {
  .match-container {
    width: 400px;
    max-height: 16rem;
  }
}

@media (max-width: 680px) {
  .match-container {
    width: 500px;
    max-height: 18rem;
  }
}

