<div class="container">
  <div class="hero">
  </div>

  <div class="feature">
    <div class="text left">
      <h2>Dynamic Match Exploration</h2>
      <p>Explore a world of football matches with the power to filter by week, view live and today's matches,
        and even bet on any game. Our intuitive search and match-specific details make finding and engaging with matches effortless.</p>
    </div>
    <img class="medium-img" src="../../assets/images/home3.png">
  </div>

  <div class="feature">
    <img class="medium-img" src="../../assets/images/my-bets2.png">
    <div class="text center">
      <h2>Your Betting Journey</h2>
      <p>Track every step of your betting journey seamlessly. Our bet history feature lets you review your active, live,
        and finished bets. Gain insights, learn from your successes, and strategize for future wins.</p>
    </div>
  </div>

  <div class="feature">
    <div class="text left">
      <h2>Compete at the Top</h2>
      <p>Dive into the heart of competitions with our comprehensive standings feature. Sort tables by various stats,
        and simply click on a team's name to discover its upcoming matches. Elevate your understanding of team performance like never before.</p>
    </div>
    <img class="medium-img" src="../../assets/images/standings3.png">
  </div>

  <div class="feature">
    <img class="medium-img" src="../../assets/images/leaderboard3.png">
    <div class="text center">
      <h2>Rise to the Top</h2>
      <p>Join the league of winners on our User Leaderboard. Paginated and sortable by various stats, it showcases the
        most successful users. Elevate your status, compete with the best, and strive for the pinnacle of success.</p>
    </div>
  </div>
</div>
