<div class="container">
  <div class="hero">
    <h1>Kick-Off Your Football Betting Experience</h1>
    <p class="desc">Experience the highs and lows of the game without the stakes of real money</p>
    <button (click)="auth.login()">
      SIGN UP
    </button>
  </div>

  <p class="powered-by">POWERED BY</p>
  <div class="tech-container">
    <div class="image-container">
      <img src="/assets/logos/angular-svgrepo-com.svg" alt="Angular">
      <p>Angular</p>
    </div>

    <div class="image-container">
      <img src="/assets/logos/spring-svgrepo-com.svg" alt="Spring">
      <p>Spring Boot</p>
    </div>

    <div class="image-container">
      <img src="/assets/logos/mariadb-svgrepo-com.svg" alt="MariaDB">
      <p>MariaDB</p>
    </div>

    <div class="image-container">
      <img src="/assets/logos/docker-svgrepo-com.svg" alt="Docker">
      <p>Docker</p>
    </div>

    <div class="image-container">
      <img src="/assets/logos/auth_logo_icon_145471.svg" alt="Auth0">
      <p>Auth0</p>
    </div>

    <div class="image-container">
      <img src="/assets/logos/google-cloud-svgrepo-com.svg" alt="Google Cloud">
      <p>Google Cloud</p>
    </div>

    <div class="image-container">
      <img src="/assets/logos/vercel-logo-svgrepo-com.svg" alt="Vercel Logo">
      <p>Vercel</p>
    </div>
  </div>

  <div class="betkick">
    <h3>But what is BetKick?</h3>
    <p>BetKick stands as a football betting simulation platform, providing users with a risk-free environment
      to engage with real football data.
      This project allows users to explore and interact with football matches and standings, bet on game results
      and compete with others to see who makes the best predictions.</p>
  </div>


  <div class="feature">
    <div class="text left">
      <h3>All The Features, Zero Risk</h3>
      <p>Filter matches by date or competition, check out live and today's games, and have fun betting on any match without
        the stress of losing your money. </p>
    </div>
    <img class="medium-img" src="../../assets/images/home3.png">
  </div>

  <div class="feature reverse">
    <img class="medium-img" src="../../assets/images/my-bets2.png">
    <div class="text center">
      <h3>Track Your Progress</h3>
      <p>Track every step of your journey seamlessly. Review active, live, and finished bets to learn and
        plan your next moves. Gain insights, learn from your successes, and strategize for future wins.</p>
    </div>
  </div>

  <div class="feature">
    <div class="text left">
      <h3>Explore the Rankings</h3>
      <p>Check out team standings in different competitions. Sort tables by stats,
        and click on a team's name to see their upcoming matches.</p>
    </div>
    <img class="medium-img" src="../../assets/images/standings3.png">
  </div>

  <div class="feature reverse" style="margin-bottom: 4rem">
    <img class="medium-img" src="../../assets/images/leaderboard3.png">
    <div class="text center">
      <h3>Rise to the Top</h3>
      <p>Explore the rankings and see who's dominating the game! Check out the leaderboard to discover
        our most successful users, or click on the columns to change the order and see the not-so successful ones.</p>
    </div>
  </div>
</div>
