<span *ngIf="urlActual != 'http://localhost:4200/home'">
  <div class="search">
    <input class="minimalist-input" type="text" [(ngModel)]="inputMatch" (input)="search()"
           placeholder="Search {{competition}} matches">
  </div>
</span>

<div class="search">
  <span *ngIf="urlActual == 'http://localhost:4200/home'">
    <input class="minimalist-input" type="text" [(ngModel)]="inputMatch" (input)="search()"
           placeholder="Search all matches">
  </span>
</div>

<div class="container">
  <div *ngIf="searchMatches.length>0">
    <form class="listMatchesContainer" [formGroup]="form">
      <p class="label">Search Results</p>
      <div *ngFor="let match of searchMatches" class="match-container">
        <app-match [match]="match" (oddsButtonClick)="handleButtonClick($event)"></app-match>
      </div>
    </form>
  </div>

  <app-week-index [weeks]="weekIndex" (weekSelected)="onWeekSelected($event)">
  </app-week-index>

  <div *ngIf="searchMatches.length==0">
    <div *ngIf="liveMatches.length > 0">
      <p class="label">Live Matches</p>
      <form class="listMatchesContainer" [formGroup]="form">
        <div *ngFor="let match of liveMatches" class="match-container">
          <app-live-match [match]="match" (oddsButtonClick)="handleButtonClick($event)"></app-live-match>
        </div>
      </form>
    </div>
    <div *ngIf="todayMatches.length > 0">
      <p class="label">Today's Matches</p>
      <form class="listMatchesContainer" [formGroup]="form">
        <div *ngFor="let match of todayMatches" class="match-container">
          <app-match [match]="match" (oddsButtonClick)="handleButtonClick($event)"></app-match>
        </div>
      </form>
    </div>

    <div *ngIf="selectedWeek !== undefined">
      <p class="label">Week {{ selectedWeek }}</p>
      <form class="listMatchesContainer" [formGroup]="form">
        <div *ngFor="let match of paginatedData" class="match-container">
          <app-match [match]="match" (oddsButtonClick)="handleButtonClick($event)"></app-match>
        </div>
      </form>
      <mat-paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [length]="weekMatches[selectedWeek].length"
        (page)="pageChanged($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
