p {
  margin-bottom: 0;
}

.label {
  margin: 2rem auto;
  font-family: Roboto, serif;
  font-weight: bold;
  text-align: center;
  color: #07d904;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: black;
  border-radius: 1rem;
}

.weeks-label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem auto;
  font-family: Roboto, serif;
  font-weight: bold;
  text-align: center;
  color: #07d904;
  font-size: 1.1rem;
  padding: 0.5rem;
  height: 2rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: black;
  border-radius: 1rem;
}

.container {
  position: absolute;
  max-width: 50%;
  left: 25%;
}

.listMatchesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.match-container {
  margin: 1rem auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 15rem;
  max-height: 15rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 1rem;
}

.match-container .match-details {
  box-sizing: border-box;
}

input.minimalist-input {
  font-family: 'Oswald';
  border: 1px solid rgb(174, 167, 167);
  height: 55px;
  padding: 0 2rem;
  width: 30%;
  font-size: 18px;
  outline: none;
  border-radius: 100px;
}

.search {
  margin-top: 1rem;
  margin-bottom: -1rem;
  text-align: center;
}

@media (max-width: 785px) {
  .match-container {
    width: 400px;
    max-height: 16rem;
  }

}

@media (max-width: 680px) {

  .match-container {
    width: 500px;
    max-height: 18rem;
  }
}

