<!-- <div class="matches">
  <div class="match" *ngFor="let match of matches">
    <img src="{{match.awayTeam.crest}}" class="team-crest" alt="">
    <img src="{{match.homeTeam.crest}}" class="team-crest" alt="">
  </div>
</div>
<mat-divider></mat-divider>
 -->
<div class="conteiner">
<div *ngFor="let match of matches" class="match-container">
  <form [formGroup]="form">
  <div class="match-header">
    <h3>{{ match.competition.name }}</h3>
    <p>{{ match.utcDate | date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
  </div>
  <div class="team-container">
    <img src="{{  match.homeTeam.crest }}" class="team-crest" alt="">
    <img src="{{  match.awayTeam.crest }}" class="team-crest" alt="">
    <p >{{ match.homeTeam.shortName }}</p>
    <p >{{ match.awayTeam.shortName }}</p>
  </div>
  <div class="odds-container">
    <button id="localWin" (click)="handleButtonClick(match,bet1,$event)">
      <span class="odds-symbol">1</span>
      {{ bet1}}
    </button>
    <button id="draw" (click)="handleButtonClick(match,betX,$event)">
      <span class="odds-symbol">X</span>
      {{betX}}
    </button>
    <button id="awayWin" (click)="handleButtonClick(match,bet2,$event)">
      <span class="odds-symbol">2</span>
      {{bet2}}
    </button>
  </div>
</form>
</div>
</div>
