<div class="match-header">
  <p>{{ adjustedDate(match.utcDate)| date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
  <h3>{{ match.competition.name }}</h3>
</div>
<mat-card-footer>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card-footer>
<div class="team-container">
  <img src="{{  match.homeTeam.crest }}" class="team-crest" alt="">
  <p class="score">{{ match.score.home }} - {{ match.score.away }}</p>
  <img src="{{  match.awayTeam.crest }}" class="team-crest" alt="">
  <p>{{ match.homeTeam.shortName }}</p>
  <p></p>
  <p>{{ match.awayTeam.shortName }}</p>
</div>
<div class="odds-container">
  <button id="localWin" matTooltip="{{ match.homeTeam.shortName + ' wins' }}"
          (click)="handleButtonClick(match,match.odds.drawOdds,$event)">
    <span id="localWinSpan" class="odds-symbol">1</span>
    {{ match.odds.homeWinsOdds }}
  </button>
  <button id="draw" matTooltip="Draw" (click)="handleButtonClick(match,match.odds.drawOdds,$event)">
    <span id="drawSpan" class="odds-symbol">X</span>
    {{ match.odds.drawOdds }}
  </button>
  <button id="awayWin" matTooltip="{{ match.awayTeam.shortName + ' wins' }}"
          (click)="handleButtonClick(match,match.odds.drawOdds,$event)">
    <span id="awayWinSpan" class="odds-symbol">2</span>
    {{ match.odds.awayWinsOdds }}
  </button>
</div>
