.container {
  display: flex;
  position: absolute;
  width: 50%;
  left: 25%;
  justify-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  color: #08f905;
}

.button {
  font-family: 'Oswald', serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  height: 4rem;
  width: 7rem;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  color: #08f905;
  background: black;
  border-radius: 1rem;
}

.list {
  width: 80%;
}

.card-container {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  width: 100%;
  padding: 0.9rem;
  background-color: #111111;
}

.card-container:hover, .button:hover {
  transform: scale(1.05);
}

.footer {
  display: flex;
  height: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #111111;
}

.cancelButton {
  transform: scale(1.2);
  background-color: black;
  color: white;
  border: 1px solid #333333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancelButton:hover {
  background-color: red;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #111111;
  color: white;
  padding: 1rem;
}

.betInfo {
  font-family: Roboto;
  font-weight: 500;
  background-color: black;
  border: 1px solid #333333;
  padding: 1rem;
  border-radius: 12px;
}

.crests {
  display: flex;
  justify-content: space-around;
  width: auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: black;
  border: 1px solid #333333;
}

.score {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: xx-large;
  font-family: 'Oswald';
  justify-self: center;
}

.team-crest {
  width: 5rem;
  height: 5rem;
}

.card-content {
  height: 20%;
  background-color: #111111;
  color: white;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Roboto, serif;
  font-size: 1rem;
  text-align: center;
  height: 5rem;
  width: 30%;
  box-sizing: border-box;
  color: white;
  border-radius: 12px;
  font-weight: 500;
  background: black;
  border: 1px solid #333333;
}

.box p {
  margin: 0;
}

.green {
  color: #08f305;
}

.successfulBet {
  font-family: 'Oswald', serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  height: 2rem;
  width: 30%;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgb(25, 149, 25);
}

.failedBet {
  font-family: 'Oswald', serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  height: 2rem;
  width: 30%;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgb(149, 25, 25);
}

.emptyListMessage {
  font-family: 'Oswald', serif;
  font-size: large;
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

