<div class="card-bet-container">
    <div class="floating-icon" (click)="toggleCardVisibility()">
        <mat-card-header class="card-bet-header">
            <button mat-icon-button class="arrowBtn">
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <h2 class="title" >BETS</h2>
        </mat-card-header>
    </div>

    <mat-card class="card-bet" *ngIf="isCardVisible" [@cardToggle]="isCardVisible ? 'expanded' : 'collapsed'">
        <mat-card-header class="card-bet-header" (click)="toggleCardVisibility()">
            <button mat-icon-button class="arrowBtn" >
                <mat-icon>arrow_downward</mat-icon>
            </button>
            <mat-card-title class="title">BETS ({{listBetsLength}})</mat-card-title>
            <button mat-icon-button class="deleteBtn" (click)="deleteAll($event)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="card-bet-content">
            <app-card-match *ngIf="listBets && listBets.length > 0" [listBets]="listBets"></app-card-match>
            <div class="alertMsj" *ngIf="alertUserMoney">Make sure you have enough balance!</div>
        <div class="alertMsj" *ngIf="alertBetAmount">Make sure all bets have an amount!</div>
         <h3 *ngIf="!(listBets && listBets.length > 0)" style="text-align: center; color: black;">Place your bets</h3>
        </mat-card-content>
        <button mat-button class="betBtn" type="submit"  (click)="sendData() "><h2>CONFIRM</h2></button>
    </mat-card>
</div>
