.card-bet-container {
    width: 400px;
    position: fixed;
    bottom: 0px;
    right: 1%;
    z-index: 1001;
}

.floating-icon {
    height: 3rem;
    width: 22rem;
    position: fixed;
    bottom: 0px;
    align-items: center;
}
.card-bet-header {
    height: 3rem;
    cursor: pointer;
    background-color: black;
    color: #08f905;
    justify-content: center;
    align-items: center;

}

.card-bet-content {
    border: 1px solid #ccc;
    background-color: #ccc;
    max-height: 400px; 
    overflow-y: auto;
}
.title{
    justify-content: center;
    font-size: large;
    margin-bottom: 1rem;
}
.arrowBtn{
    position: absolute;
    left:5%;
    margin-bottom: 1rem;
}
.deleteBtn{
    position: absolute;
    right: 5%;
    margin-bottom: 1rem;
}
.betBtn{
    height: 3rem;
    width: 100%;
    cursor: pointer;
    background-color: black;
    z-index: 1001;
}
.alertMsj{
    font-size:small;
    text-align: center;
    background-color: #ccc;
    color: #e70404;
    height: 2rem;
    width: 100%;
    z-index: 1002;

}
h3{
    margin-top: 1rem;
    color: #08f905;
    font-size: large;
}
@media(max-width: 468px){
    .card-bet-container{
        width: 100%;
    }
    .floating-icon{
        width: 100%;
    }
    .card-bet-content {
        max-height: 300px; 
    }
}
