<div class="card-bet-container">
    <div class="floating-icon" (click)="toggleCardVisibility()">
        <mat-card-header class="card-bet-header">
            <button mat-icon-button class="arrowBtn">
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <h2 class="title" >Ticket De Apuesta</h2>
        </mat-card-header>
    </div>

    <mat-card class="card-bet" *ngIf="isCardVisible" [@cardToggle]="isCardVisible ? 'expanded' : 'collapsed'">
        <mat-card-header class="card-bet-header" (click)="toggleCardVisibility()">
            <button mat-icon-button class="arrowBtn" >
                <mat-icon>arrow_downward</mat-icon>
            </button>
            <mat-card-title class="title">Ticket De Apuesta</mat-card-title>
            <button mat-icon-button class="deleteBtn" (click)="deleteAll()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="card-bet-content">
            <app-card-match *ngIf="listBets && listBets.length > 0" [listBets]="listBets"></app-card-match>
            <h2 *ngIf="!(listBets && listBets.length > 0)">No hay apuestas disponibles.</h2>
        </mat-card-content>
        <button mat-button class="betBtn" type="submit" (submit)="sendData()"><h3>Apostar</h3></button>
    </mat-card>
</div>