.card-bet-container {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 1%;
  z-index: 1001;
}

@media (max-width: 1810px) {
  .card-bet-container {
    left: 1%;
  }
}

.floating-icon {
  height: 3rem;
  width: 22rem;
  position: fixed;
  bottom: 0;
  align-items: center;
}

.card-bet-header {
  padding: 0;
  height: 3rem;
  background-color: black;
  color: #08f905;
  justify-content: center;
  align-items: center;
}

.card-bet-content {
  border: 1px solid white;
  background-color: #eaeaef;
  max-height: 400px;
  overflow-y: auto;
}

.title {
  justify-content: center;
  font-size: large;
}

.arrowBtn {
  position: absolute;
  left: 5%;
}

.deleteBtn {
  position: absolute;
  right: 5%;
}

.betBtn {
  height: 3rem;
  width: 100%;
  cursor: pointer;
  background-color: black;
  z-index: 1001;
  border-radius: 0;
}

.alertMsj {
  text-align: center;
  color: #e70404;
  height: 2rem;
  width: 100%;
  z-index: 1002;

}

h2 {
  margin-top: 1rem;
  color: #08f905;
  font-size: large;
}

@media (max-width: 550px) {
  .card-bet-container {
    width: 100%;
  }

  .floating-icon {
    width: 100%;
  }

  .card-bet-content {
    max-height: 300px;
  }
}
